<div data-role="page" class="global_users-page ui-page-theme-d">
    <div data-role='header' data-theme="d">
        <a href="#" id="menu_button" data-toggle="collapse" data-target=".navbar-collapse"
           class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext"></a>
        <h1 class="title"> Suggested Friends </h1>
    </div>

    <div role="main" class="ui-content">
        <!--MENU-->
        <div class="collapse navbar-collapse navbar-default-custom">
            <ul class="nav navbar-nav">
                <li id="menu_home"><a href="#">Home</a></li>
                <li id="menu_profile"><a href="#">Profile</a></li>
                <li id="menu_logout"><a href="#">Logout</a></li>
            </ul>
        </div>
        <!--END OF MENU-->

        <ul id="" data-role="listview" data-split-icon="plus" data-split-theme="a" data-inset="true" data-filter="true" data-filter-placeholder="Search friends...">

        </ul>

    </div>


</div>
